.pokemon {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 150px;
  margin: 15px;
  padding: 20px;
  border-radius: 25px;
  border: solid rgb(18, 94, 56) 2px;
  background: rgb(222, 238, 243);
  list-style: none;
}

.name {
  margin-bottom: 0;
}

.types {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  list-style: none;
  padding: 0;
  color: white;
}

.type {
  background: gray;
  padding: 7px;
  margin: 5px;
  border-radius: 15px;
}
